.nfc-container {
  /* margin: 8rem 0rem; */
  display: flex;
  overflow-y: hidden;
}
.nfc-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nfc-title-container i {
  font-size: 3.5rem;
  color: #000;
}
.nfc-title,
.nfc-search-container {
  display: flex;
}
.nfc-title-container h2 {
  display: flex;
  align-items: center;
  margin: 0;
}
.nfc-search-container button {
  width: 120px;
  background-color: #3a74a9;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}
.nfc-lists-container {
  width: 60%;
  padding: 8rem 2rem;
}
.nfc-load-container {
  width: 40%;
  padding: 8rem 0 0 0;
  border-left: 1px solid lightgray;
  height: 100vh;
  overflow-y: auto;
}
.rfid-logo-container h3 {
  text-align: center;
}
.nfc-load-container .rfid-logo {
  margin-top: 2rem;
  height: 10rem;
  position: relative;
}
.my-rfid {
  color: blue;
  text-align: center;
}
.rfid-logo-container {
  display: grid;
  justify-content: center;
}
.load-input-container {
  overflow-y: auto;
}
.load-input-container .top-input {
  margin-bottom: 20px;
}
.load-input-container .top-input h3 {
  margin-bottom: 10px;
}
.load-btn {
  width: 48%;
  height: 3.5rem;
  color: white;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
}
.load-c-button {
  background-color: red;
}
.load-l-button {
  background-color: #3a74a9;
}
.nfc-button-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.preview-load-container {
  padding: 1rem 2rem;
}
.student-load {
  display: flex;
  align-items: center;
  margin: 0 6rem;
  justify-content: space-between;
}
.input-load {
  width: 60%;
}
.student-lists {
  border-bottom: 0.2px solid lightgray;
  padding: 10px 0px 15px 0px;
}

.peso-sign {
  position: absolute;
  right: 100px;
  color: #000;
  font-size: 1.5rem;
}
.student-nfc-button-container {
  position: absolute;
  bottom: 0;
  width: 38%;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.nfc-details {
  display: grid;
  gap: 1px;
  padding-left: 4.5rem;
}
.nfc-reload {
  color: #2880bf;
  font-size: 1.8rem;
}
.modal-nfc h2 {
  font-weight: 900;
}
.nfc-btn {
  width: 90px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 5px;
}
.nfc-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.nfc-cc-btn {
  background-color: #fff;
  border: 1px solid blue;
  color: blue;
}
.nfc-cf-btn {
  background-color: #2880bf;
  border: none;
  color: #fff;
}
.nfc-sort-container {
  display: flex;
  gap: 20px;
}
.nfc-sort-container select,
.nfc-sort-container input {
  height: 40px;
}
.nfc-f-sort {
  width: 100%;
}
.nfc-total-load h3 {
  margin-bottom: 1rem;
  color: #004170;
}
.nfc-receipt-title {
  display: flex;
  justify-content: center;
}
.nfc-receipt-title h1 {
  color: #0b315c;
  font-weight: 900;
}
.nfc-receipt {
  border: 1px solid black;
  padding: 13px;
}
.title-receipt {
  display: flex;
  justify-content: center;
}
.title-receipt h2 {
  font-size: 3rem;
}
.nfc-dashed-receipt {
  border-bottom: 2.5px dashed black;
  margin: 5px 0;
}
.nfc-card-details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.nfc-cust-details {
  margin-bottom: 20px;
}
.nfc-card-details p {
  font-size: 1.5rem;
  color: black;
}
.nfc-card-num p {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.nfc-card-details h3 {
  font-weight: 900;
}
.nfc-c-btn {
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
}
.nfc-receipt-head h2 {
  font-size: 1.7rem;
}
