.inventory-container {
  margin: 7rem 1rem 0 27rem;
  height: calc(100vh - 7rem);
}

.head-container {
  padding-left: 5px;
}

.inventory-container .custom-card {
  padding: 1em 1em;
  margin: 0 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.inventory-container .title-container {
  flex: 1;
  padding-left: 24px;
  padding-top: 23px;
}

.add-new-stock-container,
.filter-button-container {
  display: flex;
  align-items: center;
}

.add-new-stock-container button,
.filter-button-container button {
  width: 100px;
  height: auto;
  background-color: #3a74a9 !important;
  color: white !important;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  padding: 0.5em 1em;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1080px) {
  .add-new-stock-container button,
  .filter-button-container button {
    width: 80% !important;
    min-width: 80px;
    font-size: 1em !important;
    padding: 0.5em 0.8em !important;
  }
}

@media (max-width: 768px) {
  .add-new-stock-container button,
  .filter-button-container button {
    /* width: 70% !important;
    min-width: 70px; */
    font-size: 0.9em !important;
    padding: 0.4em 0.7em !important;
  }
}

@media (max-width: 576px) {
  .add-new-stock-container button,
  .filter-button-container button {
    /* width: 60% !important;
    min-width: 60px; */
    font-size: 0.8em !important;
    padding: 0.3em 0.6em !important;
  }
}

.inventory-container .s-container {
  display: flex;
  align-items: center;
}

.filtering-category-container {
  padding: 0;
}

.inventory-container .s-container .search,
.filtering-category-container .search {
  width: 40rem;
}

.modal-select {
  height: 59%;
  border-radius: 10px;
  width: 8rem;
}

.export-container button {
  width: 85px;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3a74a9;
}

.outbound-select {
  height: 100%;
  margin: 0;
}

.add-new-stock-container .stock-count {
  width: 140px;
}

.cell-hover:hover {
  background-color: gray !important;
}

.stock-ID-container p {
  background-color: lightgray;
  font-size: 2rem;
  padding: 10px 10px;
}

.stock-remarks {
  gap: 50px;
}

.stock-ID-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inventory-stock-container {
  justify-content: space-between;
  padding: 0;
}

.inventory-stock-container .group-in {
  width: 40%;
}

.inventory-stock-container h2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.invent-stock-custom-card {
  margin-top: 6em;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.receivingID {
  display: flex;
  align-items: center;
  gap: 10px;
}

.receivingID p {
  background-color: lightgray;
  font-size: 2rem;
  padding: 10px 10px;
}

.swal-button-container {
  text-align: center !important;
}

.swal-footer {
  display: flex !important;
  justify-content: center !important;
}

.--pdf {
  background-color: red !important;
  border: none !important;
}

.--excel {
  background-color: green !important;
  border: none !important;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
}

.transac-dropdown {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.transaction-input {
  width: 18.5%;
  margin-right: 30px;
}

.clear-filt {
  color: red !important;
}

.clear-filt:hover {
  background-color: red !important;
  color: white !important;
}

.add-new-stock-container button:hover,
.filter-button-container button:hover {
  background-color: #264a6b !important;
  color: white !important;
}

.filter-button-container .dropdown-menu {
  width: 350px;
  right: 0;
  margin-top: 0.25rem;
  left: auto;
}

.filter-button-container .dropdown-item:hover {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  background-color: #3a74a9;
  color: white;
}

.filter-button-container-container {
  position: relative;
}

.filter-menu-title-container,
.filter-menu-body-container {
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 1.3rem;
  flex: 1;
}

.filter-menu-body-container {
  display: flex;
  margin-right: 13px;
}

.filter-menu-title-container {
  margin-left: 13px;
  margin-right: 13px;
  font-weight: bold;
}

.filter-menu-title-container .dropdown-divider {
  color: rgb(216, 216, 216);
  height: 0.25px;
}

.filter-menu-container {
  padding: 2px;
  flex-direction: column;
  display: flex;
}

.date-range {
  flex: 1;
  margin-left: 5px;
}

.date-range input {
  margin: 0px;
}

.date-range p {
  color: black;
  font-size: 11px;
  padding: 2px;
}

.days-modal-container {
  align-items: center;
}

@media (max-width: 1200px) {
  .inventory-container {
    margin: 7rem 1rem 0 5rem;
  }

  .transaction-input {
    width: 40% !important;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .inventory-container {
    margin: 7rem 1rem 0 2rem;
  }

  .inventory-container .s-container .search,
  .filtering-category-container .search {
    width: 25rem !important;
  }

  .transaction-input {
    width: 50% !important;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .inventory-container {
    margin: 7rem 1rem 0 1rem;
  }

  .inventory-container .s-container .search,
  .filtering-category-container .search {
    width: 20rem;
  }

  .transaction-input {
    width: 67% !important;
    margin-right: 15px;
  }

  .category-dropdown-select {
    width: 68% !important

  }
}

@media (max-width: 576px) {
  .inventory-container {
    margin: 7rem 1rem 0 0.5rem;
  }

  .inventory-container .s-container .search,
  .filtering-category-container .search {
    width: 100%;
  }

  .transaction-input {
    width: 45%;
    margin-right: 10px;
  }

  .add-new-stock-container button,
  .filter-button-container button {
    width: 80px;
    font-size: 1em;
  }

  .modal-select {
    width: 100%;
  }

  .export-container button {
    width: 70px;
    font-size: 1rem;
  }
}

.tab-container {
  border-bottom: 1px solid #e4e7ea;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 4px;
  font-size: large;
}

.tab-container .tab {
  box-shadow: none;
  color: #3a74a9;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: auto;
}

.tab-container .tab:not(:last-child) {
  margin-right: 8px;
}

.tab-container .active-tab {
  border-top: 1px solid #e4e7ea;
  border-left: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-radius: 5px 5px 0px 0px;
  width: auto;
  color: #495057;
}

@media (min-width: var(--med)) {
  .tab-container .tab {
    border-radius: 5px 5px 0 0;
  }
}

@media (max-width: var(--med)) {
  .tab-container {
    flex-direction: column;
    margin-bottom: 8px;
    padding: 0 8px;
  }

  .tab-container .tab:not(:last-child) {
    margin-right: 0;
  }
}

.tab-content {
  display: none;
  border: none;
  padding: 10px;
  &.active-content {
    display: block;
  }
}
